body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #009688; /* Darker Shade of Light Blue */
    text-align: center;
}

p {
    font-size: 18px;
    color: #333333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #009688; /* Darker Shade of Light Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00796b; /* Slightly Darker Shade of Light Blue */
}

a {
    text-decoration: none;
    color: #009688; /* Darker Shade of Light Blue */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

li a {
    color: #333333;
    font-weight: bold;
}
/* Add this section to your existing style.css */
.actions {
    list-style-type: none;
    padding: 0;
}

.actions li {
    margin-bottom: 10px;
}

.patient-info {
    border-bottom: 1px solid #ccc; /* Adds a 1px solid border at the bottom */
    padding-bottom: 10px; /* Adds some space between patients */
}


